#experience-view {
  padding: 100px 40px 150px 40px;
  #experience-view-title {
    padding-bottom: 100px;
  }
  #carousel-experience {
    max-width: 500px;
  }
  #experience-view-text {
    padding-left: 50px;
  }
}
