/* experience
============================================= */
.experience {
  opacity: 0;
  .experience-img {
    text-align: center;
    &.pr {
      padding-right: 4%;
    }
    &.pl {
      padding-left: 4%;
    }
    img {
      width: -webkit-fill-available;
      height: auto;
      border-radius: 10px;
      @extend %base-transition;
    }
  }
  .experience-text {
    &.pr {
      padding-right: 4%;
    }
    &.pl {
      padding-left: 4%;
    }
    .experience-page {
      padding-bottom: 2rem;
    }
    .experience-cta {
      padding-top: 3rem;
    }
  }
}
