/* Project
============================================= */
.project {
  .project-img {
    // text-align: center;
    img {
      max-width: 450px;
      max-height: 550px;
      border-radius: 10px;
      @extend %base-transition;
    }
  }
  .project-text {
    .project-page {
      padding-bottom: 3rem;
    }
    .project-cta {
      padding-top: 5rem;
    }
  }
}
