/* Project
============================================= */
.project {
  .project-img {
    text-align: center;
    &.pr {
      padding-right: 4%;
    }
    &.pl {
      padding-left: 4%;
    }
    img {
      // width: 428px;
      // height: 523px;
      width: -webkit-fill-available;
      height: auto;
      // max-width: 572px;
      // max-height: 700px;
      border-radius: 10px;
      @extend %base-transition;
    }
  }
  .project-text {
    &.pr {
      padding-right: 4%;
    }
    &.pl {
      padding-left: 4%;
    }
    .project-page {
      padding-bottom: 2rem;
    }
    .project-cta {
      padding-top: 3rem;
    }
  }
}
