/* Footer
============================================= */
footer {
  background-color: $color_full_white;
  padding: 200px 0px 50px 0px;
  hr {
    padding-bottom: 30px;
  }
  #footer-copyright {
    padding-top: 50px;
    .footer-hr {
      padding-bottom: 30px;
      border-top: 1px solid rgba(216, 216, 216, 0.2);
    }
    #copyright {
    }
  }
  #logo-ym {
    height: 20px;
    width: auto;
    padding: 0px 10px;
  }
  .subtitle {
    font-size: 0.9rem;
    font-weight: normal;
    padding-left: 35px;
    &::before {
      width: 20px;
    }
  }
}
