/* Project
============================================= */
.project {
  .project-img {
    text-align: center;
    img {
      height: 550px;
      width: 450px;
      border-radius: 10px;
    }
  }
  .project-text {
    .project-page {
      padding-bottom: 3rem;
    }
    .project-cta {
      padding-top: 5rem;
    }
  }
}
