/* Project
============================================= */
.project {
  .project-img {
    text-align: center;
    img {
      max-height: 500px;
      max-width: 400px;
      border-radius: 10px;
    }
  }
  .project-text {
    .project-page {
      padding-bottom: 3rem;
    }
    .project-cta {
      padding-top: 5rem;
    }
  }
}
