/* Html 
============================================= */
html,
body {
  font-family: $font-family-sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: $font-size-base;
}

/* Body 
============================================= */
body {
  min-width: 375px;
  line-height: 1.77778;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-text-color;
  background-color: transparent;
  // cursor: none;
}

/* Main Page 
============================================= */
main {
  margin-top: 130px;
}

// .main-bg{
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 0;
//   overflow: hidden;
//   img{
//     width: 100%;
//     max-width: 1200px;
//   }
// }

/* Section
============================================= */
#about {
  position: relative;
  text-align: left;
  height: 500px;
  #about-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

#skills {
  position: relative;
  // To validate ?
  // display: flex;
  // text-align: center;
  // align-items: center;
  text-align: center;
  background-color: $color_black;
  color: $color_white;
  height: 300px;
  .container-fluid,
  .row {
    height: 100%;
  }
}

#projects {
  padding-top: 165px;
  article:not(:last-child) {
    padding-bottom: 165px;
  }
}

#contact {
  padding-top: 165px;
  color: $color_white;
  #contact-card {
    position: relative;
    padding: 162px 100px 60px;
    background: $color_black;
    border-radius: 48px;
  }
  #contact-form {
    padding-top: 100px;
  }
  #contact-portrait {
    height: 350px;
    border-radius: 10px;
  }
}

// #my-work{
//   #my-work-search{
//     .icon-prepend {
//       position: absolute;
//       z-index: 2;
//       display: block;
//       width: 100%;
//       text-align: right;
//       pointer-events: none;
//       padding-right: 45px;
//     }
//     input{
//       padding-left: 20px;
//       border-radius: 15px;
//     }
//     .custom-icon{
//       height: 20px;
//       width: 20px;
//     }
//   }
// }

/* Card
============================================= */
// .card-work {
//   border-radius: 30px;
//   overflow: hidden;
//   img {
//     border-radius: 30px;
//     // filter: blur(5px);
//   }
//   .card-body {
//     padding-top: 40px;
//   }
//   .card-text {
//     padding-top: 30px;
//   }
// }

/* Custom icon
============================================= */
.custom-icon {
  width: 23px;
  height: 23px;
  @extend %base-transition;
}

/* Transition 
============================================= */
h1,
h2,
h3,
h4,
h5,
p,
.subtitle {
  @extend %base-transition;
}

/* Title 
============================================= */
h1 {
  font-size: 4em;
  font-weight: 600;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

/* Subtitle 
============================================= */
.subtitle {
  position: relative;
  line-height: 1.4px;
  font-weight: 600;
  padding-left: 60px;
  &.subtitle-left {
    float: left;
  }
  &.subtitle-right {
    float: right;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 40px;
    height: 2px;
  }
}

/* Search 
============================================= */
// .bootstrap-select {
//   .dropdown-menu {
//     cursor: initial;
//   }
// }

/* Colors 
============================================= */
@include generateColors;
