/* Sections
============================================= */

#about {
  position: relative;
  z-index: 0;
  text-align: left;
  height: 600px;
  margin-top: 130px;
  #about-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

#skills {
  position: relative;
  z-index: 1; /* section over scroll-down */
  background-color: $color_black;
  text-align: center;
  color: $color_white;
  height: 300px;
  -webkit-box-shadow: 0 50px 50px 0px rgba($color_full_white, 100);
  box-shadow: 0 50px 50px 0px rgba($color_full_white, 100);
  .container-fluid,
  .row {
    height: 100%;
  }
}

#scroll-down {
  z-index: 0; /* section under skills and projects */
  height: 100px;
  margin: 180px 0px 200px 0px;
}

#projects {
  z-index: 1; /* section over scroll-down */
  //   height: 500px;
  background-color: $color_full_white;
  -webkit-box-shadow: 0 -170px 50px 0px rgba($color_full_white, 100);
  box-shadow: 0 -130px 50px 0px rgba($color_full_white, 100);
  article:not(:last-child) {
    margin-bottom: 300px;
  }
}

#lotte-hotel {
  //   height: 800px;
  .parallax__layer--back {
    background: url(~@/assets/lotte-hotel.jpg);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  img {
    margin-right: -20px;
    margin-left: -25px;
  }
}

#contact {
  margin: 400px 0px 200px 0px;
  color: $color_white;
  #contact-card {
    position: relative;
    padding: 162px 100px 60px;
    background: $color_black;
    border-radius: 15px;
    .form-control,
    .btn {
      border-radius: 12px;
    }
    #contact-form {
      padding-top: 100px;
      input {
        padding: 0px 20px 0px 20px;
        height: 70px;
        @extend %contact-form-input;
      }
      textarea {
        padding: 15px 0px 0px 20px;
        @extend %contact-form-input;
      }
      .svg-text:not(:last-child) {
        padding-bottom: 40px;
      }
      .btn {
        color: $color_white;
        height: 70px;
        // &:hover {
        //   background-color: $color_black;
        //   border-color: $color_white;
        // }
      }
    }
  }
}
