/* Section
============================================= */
#about {
  position: relative;
  text-align: left;
  height: 500px;
  @extend %base-transition;
  #about-text {
    // text-transform: uppercase;
    // font-family: "Open Sans", sans-serif;
    // font-weight: 100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

#skills {
  position: relative;
  text-align: center;
  color: $color_white;
  .wrapper-col {
    padding-top: 300px;
    .wrapper-vertical {
      // text-transform: uppercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      border: none;
    }
  }
}

#scroll-down {
  margin: 180px 0px 200px 0px;
}

#experiences {
  padding: 150px 0px 100px 0px;
  // background: url(~@/assets/bg.png);
  height: 100%;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  #subtitle-portfolio {
    padding: 0px 0px 150px 0px;
    .subtitle {
      font-size: 1.4em;
    }
  }
  article {
    margin-bottom: 180px;
  }
}
