/* 

@media Bootstrap
<576px  Extra small
≥576px  Small
≥768px  Medium
≥992px  Large
≥1200px Extra large

@media Custom
See variables.scss breakpoint

============================================= */

/* Media Ultra Wide
============================================= */
@include mediaUltraWide {
  .experience {
    .experience-img {
      &.pr {
        padding-right: 10% !important;
      }
      &.pl {
        padding-left: 10% !important;
      }
    }
    .experience-text {
      &.pr {
        padding-right: 10% !important;
      }
      &.pl {
        padding-left: 10% !important;
      }
    }
  }
}

/* Media Extra Large
============================================= */
@include mediaExtraLarge {
  .experience {
    .experience-img {
      img {
        max-width: 572px;
        max-height: 700px;
      }
    }
  }
  #header-fixed-informations {
    padding-top: 15px;
  }

  #header-fixed-nav {
    h1 {
      font-size: 2em;
      font-weight: 600;
    }
  }

  #experience-view {
    #carousel-experience {
      max-width: 500px;
    }
  }
}

/* Media Large
============================================= */
@include mediaLarge {
  /* Header
  ============================================= */
  header {
    .header-logo {
      // width: 30px;
      margin-right: 80px;
    }
    .header-item {
      font-size: 0.9em;
    }

    .custom-icon {
      margin-right: 15px !important;
    }
  }

  #header-fixed-informations {
    padding-top: 9px;
  }

  /* Typographie
  ============================================= */
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 0.9em;
  }
  p {
    font-size: 0.8em;
  }

  #header-fixed-nav {
    h1 {
      font-size: 2em;
      font-weight: 600;
    }
  }

  /* Sections
  ============================================= */
  // #about {
  //   height: 500px;
  // }
  #scroll-down {
    margin: 100px 0px 130px 0px;
    .btn-icon-round {
      width: 70px;
      height: 70px;
    }
  }

  #lotte-hotel {
    h2 {
      // font-size: 2.5em;
    }
    #contact {
      #contact-card {
        padding: 60px 60px 60px 60px;
        .svg-text {
          .text-wrapper {
            font-size: 0.9em;
          }
        }
        #contact-form {
          // padding-top: 80px;
          .btn,
          textarea,
          input {
            font-size: 0.9em;
          }
          .btn,
          input {
            height: 50px;
          }
          textarea {
            height: 180px;
          }
        }
      }
    }
  }

  // #experience-view {
  //   #experience-view-text {
  //     padding-left: 50px;
  //   }
  // }

  /* Icon
  ============================================= */
  // .custom-icon {
  //   width: 20px;
  //   height: 20px;
  // }
}

/* Media Medium
============================================= */
@include mediaMedium {
  /* Body
  ============================================= */
  body {
    overflow-x: hidden;
  }
  /* Header
  ============================================= */
  header {
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 35px;
    .header-item-logo {
      margin-right: 45px;
    }
    .header-item {
      margin-right: 30px;
    }
    .custom-icon {
      margin-right: 5px !important;
    }
  }

  #header-fixed-nav {
    padding-top: 100px !important;
    -webkit-box-ordinal-group: 0 !important;
    -ms-flex-order: 0 !important;
    order: 0 !important;
  }

  #header-fixed-informations {
    padding-top: 100px !important;
    -webkit-box-ordinal-group: 1 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  #header-fixed-map {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 3 !important;
    order: 3 !important;
  }

  /* Typographie
  ============================================= */
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 0.8em;
  }
  p {
    font-size: 0.7em;
  }

  /* Sections
  ============================================= */
  #about {
    height: 400px;
  }

  #lotte-hotel {
    #contact {
      #contact-card {
        #contact-form {
          input {
            height: 60px;
          }
          .btn {
            height: 50px;
          }
          textarea {
            height: 140px;
          }
        }
      }
    }
  }
  /* Icon
  ============================================= */
  .custom-icon {
    width: 18px;
    height: 18px;
  }
  .custom-icon-big {
    width: 30px;
    height: 30px;
  }
}

/* Media Small
============================================= */
@include mediaSmall {
  /* Header
  ============================================= */
  header {
    .header-item {
      display: none !important;
    }
    #header-burger {
      width: 40px;
      height: 40px;
    }

    #header-burger:before,
    #header-burger:after {
      width: 25px;
    }

    #header-burger.active {
      background: transparent;
    }

    #header-burger.active:before,
    #header-burger.active:after {
      background: $color_black;
    }
  }

  #header-fixed-informations {
    padding-top: 0px !important;
  }

  #header-fixed-map {
    padding-top: 0px !important;
    height: 220px !important;
  }

  /* Typographie
  ============================================= */
  .subtitle {
    font-size: 0.9em;
  }
  p {
    font-size: 0.9em;
  }

  /* Sections
  ============================================= */
  #scroll-down {
    margin: 80px 0px 80px 0px;
  }

  #about {
    height: 420px;
  }

  #skills {
    .wrapper-col {
      padding-top: 130px;
    }
    .wrapper-col:not(:last-child) {
      border-bottom: 1px solid $color_light_grey;
    }
  }
  #experiences {
    padding: 70px 0px 100px 0px;
    #subtitle-portfolio {
      padding: 0px 0px 70px 0px;
    }
  }

  .experience {
    .experience-img {
      text-align: center !important;
      padding: 0;
      &.pr {
        padding-right: 0px !important;
      }
      &.pl {
        padding-left: 0px !important;
      }
      img {
        width: 100% !important;
        max-width: none !important;
        max-height: none !important;
        height: auto !important;
        border-radius: 0;
      }
    }
    .experience-text {
      -webkit-box-ordinal-group: 1 !important;
      -ms-flex-order: 1 !important;
      order: 1 !important;
      text-align: left !important;
      padding-top: 50px;
      &.pr {
        padding-right: 0px !important;
      }
      &.pl {
        padding-left: 0px !important;
      }
      .experience-page {
        display: none;
      }
      .experience-cta {
        padding-top: 2rem;
      }
      .subtitle {
        float: left !important;
      }
    }
  }

  #lotte-hotel {
    padding: 0px 0px 0px 0px;
    #contact {
      #contact-card {
        border-radius: 0%;
      }
    }
  }

  #experiences {
    padding: 70px 0px 0px 0px;
    article {
      margin-bottom: 80px;
    }
  }

  #experience-view {
    padding: 40px 0px 50px 0px;
    #experience-view-title {
      padding-bottom: 30px;
    }
    #carousel-experience {
      max-width: none;
      padding: 0px 15px;
      .wrapper-carousel-icon-right {
        margin-right: -50px;
      }

      .wrapper-carousel-icon-left {
        margin-right: 50px;
      }
    }
    #experience-view-text {
      padding-top: 50px;
    }
  }

  footer {
    padding: 20px 0px 0px 0px !important;
    box-shadow: inset 0 -250px 20px 0px rgb($color_full_black, 0.4) !important;
    #footer-copyright {
      padding-top: 0px !important;
    }
  }
}

/* Media Extra Small
============================================= */
@include mediaExtraSmall {
  #header-logo {
    color: $color_black;
  }
  #lotte-hotel {
    // background-attachment: scroll;
  }

  #experiences {
    padding: 60px 0px 20px 0px;
    #subtitle-portfolio {
      padding: 0px 0px 50px 0px;
    }
  }

  #header-fixed-nav {
    padding-top: 50px !important;
  }
}
