/* Typography 
============================================= */
$font_family_sans_serif: "Poppins", sans-serif;
$font_size_base: 1rem;
$line_height_base: 1.6;

/* Breakpoint 
============================================= */
$breakpoint_ultra_wide: 1920px; // >= 1920px
$breakpoint_extra_large: 1400px; // >= 1200px
$breakpoint_large: 1200px; // <= 1200px
$breakpoint_medium: 991px; // <= 992px
$breakpoint_small: 767px; // <= 767px
$breakpoint_extra_small: 576px; // <= 576px

/* Path 
============================================= */
$image_path: "../../img";

/* Colors 
============================================= */
$color_full_black: #000000;
$color_black: #1e2022;
$color_full_white: #ffffff;
$color_white: #f0f5f9;
$color_light_white: #f5f6f7;
$color_grey: #52616a;
$color_light_grey: #d8d8d833;
$color_blue: #2b90d9;
$color_purple: #4c40f7;
$color_red: #df405a;

// To generate colors
$list_color: (
  full-white: $color_full_white,
  white: $color_white,
  light-white: $color_white,
  full-black: $color_full_black,
  black: $color_black,
  grey: $color_grey,
  light-grey: $color_light_grey,
  blue: $color_blue,
  purple: $color_purple,
  red: $color_red,
);

$primary_text_color: $color_black;

// $color_cursor_little : $color_blue;
// $color_cursor_big : $color_blue;
