/* Html 
============================================= */
html,
body {
  font-family: $font-family-sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: $font-size-base;
  scroll-behavior: smooth;
  &.no-scroll {
    overflow: hidden;
  }
}

/* Body 
============================================= */
body {
  min-width: 375px;
  line-height: 1.77778;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color_black;
  background-color: transparent;
  // background-color: $color_light_white;
  // cursor: none;
}

/* Main Page 
============================================= */
#app {
  margin-top: 130px;
}

.wrapper-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// .main-bg{
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 0;
//   overflow: hidden;
//   img{
//     width: 100%;
//     max-width: 1200px;
//   }
// }

/* Card
============================================= */
// .card-work {
//   border-radius: 30px;
//   overflow: hidden;
//   img {
//     border-radius: 30px;
//     // filter: blur(5px);
//   }
//   .card-body {
//     padding-top: 40px;
//   }
//   .card-text {
//     padding-top: 30px;
//   }
// }

/* Btn
============================================= */
.btn-icon-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: $color_full_white;
  -webkit-box-shadow: 0 5px 20px rgba($color_black, 0.15);
  box-shadow: 0 5px 20px rgba($color_black, 0.15);
  @extend %base-transition;
}

/* Custom icon && for icon
============================================= */
.custom-icon {
  width: 23px;
  height: 23px;
  @extend %base-transition;
}

.svg-text {
  position: relative;
  display: block;
  .text-wrapper {
    position: relative;
    display: inline;
    padding: 0px 0px 0px 20px;
  }
}

/* Transition 
============================================= */
h1,
h2,
h3,
h4,
h5,
p,
.subtitle {
  @extend %base-transition;
}

/* TYPOGRAPHIE
============================================= */
h1 {
  font-size: 3.5em;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

p {
  line-height: 2;
  letter-spacing: 0.05em;
}

/* Subtitle 
============================================= */
.subtitle {
  position: relative;
  line-height: 1.4px;
  font-weight: 600;
  padding-left: 60px;
  // font-size: 1.5em;
  &.subtitle-left {
    float: left;
  }
  &.subtitle-right {
    float: right;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 45px;
    height: 2px;
  }
}

/* Search 
============================================= */
// .bootstrap-select {
//   .dropdown-menu {
//     cursor: initial;
//   }
// }

/* Colors 
============================================= */
@include generateColors;

.hidden {
  display: none;
}

.visible {
  display: block;
}
